html{
    background-color: white;
}
body{
    margin: 0;
}
.top{
    background-color: #541455;
    width: 100%;
    color: white;
    height: 50%;
}
.logo{
    margin: 10px ;
    margin-left: 40px;
    margin-bottom: 0;
}
.pro{
    font-size: 30px;
    margin-right: 40px;
}
a{
    color: white;
    text-decoration: none;
}
.top-s{
    padding-inline-start: 20px;
}
.yellow{
    color:#ecb22e;
}
p{
    font-size: large;
}
.left{
    width: 40%;
    margin-left: 30px;
}
video{
    height: 200px;
    width: 200px;
    right: 50px;
}
.nav_bar{
    margin-right: 50px;
}
.motto{
    text-align: center;
}
h1{
    font-size: xx-large;
}
.motto{
    font-size: medium;
}
button{
    background-color: #854986;
    border-style: none;
    border:2px;
    border: white;
    
    color: white;
}
.pics{
    max-height: 150px;
    max-width: 150px;
    padding-inline-start: 70px;
}
